html, body {
    width: 100%;
    min-height: 100%;
}

.App {
    text-align: center;
}

.header, .footer {
    text-align: center;
    border: 1px solid black;
    margin: 0 10px;
}

.footer {
    border-top: 3px solid black;
}

.clear {
    clear: both;
}

.leftPart {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

.sortByLikies, .sortByRating {
    width: 70px;
    margin: 5px;
    padding: 3px;
    cursor: pointer;
}

.FieldSortSearch {
    border: 1px solid black;
}

.fieldInput {
    margin: 10px;
}

.movie-thumbnail-title {
    display: inline-block;
    border: 2px solid black;
    width: 150px;
    height: 160px;
    margin: 25px 35px;
}

.title {
    height: 40px;
    cursor: pointer;
}

.title:hover {
    color: blue;
}

.movie-thumbnail-title .image {
    float: right;
    width: 118px;
    height: 95px;
    border: 1px solid black;
}

.likes {
    float: left;
    width: 28px;
    height: 95px;
    border: 1px solid gray;
}

.thumb {
    background-color: white;
}

.amountLike {
    display: table-cell;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 3px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#movie-list-container {
    width: 60%;
    float: left;
    height: 100%;
}

#movie-details-container {
    width: 40%;
    float: left;
}

#movie-details-left {
    width: 21%;
    float: left;
    margin: 10px;
    text-align: left;
    padding-left: 3px;
}

#movie-details-right {
    width: 72%;
    float: left;
    text-align: left;
    margin: 5px;
}

.center-container {
    width: 100%;
    text-align: center;
}

#movie-details-right img {
    height: 400px;
}

#movie-details-right div {
    padding-left: 5px;
}

.mainHeader {
    font-size: x-large;
    font-weight: bold;
    background-color: lightblue;
    height: 60px;
    border: 3px solid aqua;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.nav {
    border: 2px solid grey;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.navLink {
    text-decoration: none;
}

.nav:hover {
    background-color: aliceblue;
}

.home {
    background: antiquewhite;
    margin-top: 70px;
    border: 1px solid olive;
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.about {
    background: antiquewhite;
    margin-top: 70px;
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.pageNotFound {
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    border: 1px solid rebeccapurple;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
}

.active {
    color: black;
}

.buttonMode {
    position: absolute;
    top: 80px;
}

.admin, .user {
    width: 70px;
    height: 30px;
    background-color: #BDB76B;
    margin-left: 10px;
}

.editMovie {
    margin-top: 20px;
}

.edit, .delete {
    width: 110px;
    margin-bottom: 10px;
/ / visibility: hidden;
}

.create {
    position: absolute;
    right: 12px;
    top: 115px;
    height: 30px;
/ / visibility: hidden;
}

.formContainer {
    position: absolute;
    left: 30%;
    width: 350px;
    padding: 10px;
    border: 4px double navy;
    margin-top: 30px;
}

.inputContainer {
    text-align: center;
    margin: 20px;
    width: 300px;
    border: 1px solid gray;
    padding: 5px;
}

.inputContainer input {
    width: 200px;
}

.backToMovies {
    width: 80px;
    height: 50px;
    position: relative;
    top: 80px;
    left: 50%;
    background-color: lightcyan;
}